@import url("../common-styles/main.css");

.container {
  display: flex;
  color: white;
  background-color: var(--night);
  margin: 10px;
  align-items: center;
  border-radius: 10px;
}


.info {
  padding: 7px;
  display: flex;
  flex-direction: column;
}
