@import url("fonts.css");
@import url("buttons.css");
@import url("colors.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.error {
    position: absolute;
    top:50%;
    left :40%;
}

.push {
    margin-left: auto;
}
